<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <category
            name="SimpleTranslation"
            id="SimpleTranslation">
      </category>
      <view
            name="Translation View"
            inject="true"
            icon="icons/sample.png"
            category="SimpleTranslation"
            class="com.wuwenze.eclipse.simpletranslation.views.TranslationView"
            id="com.wuwenze.eclipse.simpletranslation.views.TranslationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.wuwenze.eclipse.simpletranslation.preferences.SimpleTranslationPreferencePage"
            id="com.wuwenze.eclipse.simpletranslation.preferences.SimpleTranslationPreferencePage"
            name="SimpleTranslation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.wuwenze.eclipse.simpletranslation.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>